deploymentMode: SingleBinary

singleBinary:
  replicas: 1

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

chunksCache:
  enabled: false

resultsCache:
  enabled: false

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  storage_config:
    filesystem:
      directory: /var/loki

  # ⚠️ CAMELCASE — ISSO RESOLVE O ERRO
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  limits_config:
    retention_period: 168h
    allow_structured_metadata: false

  ruler:
    enabled: false

persistence:
  enabled: true
  size: 5Gi

